.carousel_ {
  width: 100%;
  position: relative;
  margin-top: 10rem;
  padding-bottom: 22rem;
  .c__item {
    min-width: 500px;
    position: relative;
    .images {
      min-height: 300px;
      img {
        position: absolute;
        min-height: 500px;
        top: -60px;
        left: -150px;
      }
    }
    .title {
      font-size: 26px;
      font-weight: 500;
      line-height: 1;
      color: #8E8E8E;
    }
  }
}

@media (max-width: 1000px) {
  .carousel_ {
    display: none;
  }
}
