.mob_header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 10px;
  height: 70px;
  z-index: 300;
  background-color: rgba(255,255,255,0.6);
  backdrop-filter: blur(20px);
}


.mob_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 100;
  width: 100%;
  position: fixed;
  height: 80px;
  bottom: 0;
  color: #fff;
  background: rgba(0, 59, 100, 0.1);
  backdrop-filter: blur(20px);
}
