.sub-category-info {
  width: 100%;
  padding: 10rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  .back_btn-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
  .image__section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding: 0 40px;
    .title_section {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      .title {
        font-size: 30px;
        font-weight: 600;
        color: #8D8D8D;
      }
      .p {
        width: 40rem;
        word-break: break-all;
        font-size: 16px;
        color: #878787;
      }
    }
    .img_ {
      display: flex;
      justify-content: flex-end;
      img {
        width: 70%;
        border-radius: 30px;
      }
      .category-image {

      }
    }
  }
}




@media (max-width: 768px) {
  .sub-category-info {
    width: 100%;
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .back_btn-container {
      position: absolute;
      top: 6rem;
      left: -.7rem;
      .MuiButtonBase-root {
        width: 6rem;
        min-height: 2.2rem !important;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        .MuiButton-label {
          .material-icons {
            font-size: 13px !important;
          }
          div {
            font-size: 13px !important;
          }
        }
      }
    }
    .image__section {
      display: flex;
      justify-content: center;
      flex-direction: column-reverse !important;
      padding: 0 !important;
      .title_section {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column-reverse;
        padding: 0 20px;
        margin: 0;
        .title {
          font-size: 30px;
          font-weight: 600;
        }
        .p {
          width: auto;
          font-size: 15px;
          word-break: break-all;
        }
      }
      .img_ {
        height: 185px;
        img {
          object-fit: cover;
          border-radius: 0px;
          width: 100%;
        }
        .category-image {

        }
      }
    }
  }
}